<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ngMessages demo</title>
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
        System.import('app/bootstrap').catch(console.error.bind(console));
    </script>
    <link rel="stylesheet" type="text/css" href="jspm_packages/github//twbs/bootstrap@3.3.5/css/bootstrap.min.css">
  </head>
  <body ng-app="app" ng-strict-di>
    <div class="container">
      <form name="exampleForm" class="myForm" required>

        <div class="form-group" ng-class="{'has-error': exampleForm.userFirstName.$dirty && exampleForm.userFirstName.$invalid}">
          <label for="userFirstName">First Name</label>
          <input class="form-control" type="text" id="userFirstName" name="userFirstName" ng-model="firstName" required placeholder="First Name"/>
          <div class="help-block" ng-messages="exampleForm.userFirstName.$error" ng-if="exampleForm.userFirstName.$dirty">
            <div ng-message="required">This field is required</div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': exampleForm.userLastName.$dirty && exampleForm.userLastName.$invalid}">
          <label for="userLastName">Last Name</label>
          <input class="form-control" type="text" id="userLastName" name="userLastName" ng-model="lastName" required placeholder="Last Name" />
          <div class="help-block" ng-messages="exampleForm.userLastName.$error" ng-if="exampleForm.userLastName.$dirty">
            <div ng-message="required">This field is required</div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': exampleForm.userEmail.$dirty && exampleForm.userEmail.$invalid}">
          <label for="userEmail">Email Address</label>
          <input class="form-control" type="email" id="userEmail" name="userEmail" ng-model="email" required placeholder="Email Address" />
          <div class="help-block" ng-messages="exampleForm.userEmail.$error" ng-if="exampleForm.userEmail.$dirty">
            <div ng-message="required">This field is required</div>
            <div ng-message="email">Your email address is invalid</div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': exampleForm.userPhoneNumber.$dirty && exampleForm.userPhoneNumber.$invalid}">
          <label for="userPhoneNumber">Phone Number</label>
          <input class="form-control" type="email" id="userPhoneNumber" name="userPhoneNumber" ng-model="phoneNumber" placeholder="Phone Number" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required />
          <div class="help-block" ng-messages="exampleForm.userPhoneNumber.$error" ng-if="exampleForm.userPhoneNumber.$dirty">
            <div ng-message="required">This field is required</div>
            <div ng-message="pattern">Must be a valid 10 digit phone number</div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': exampleForm.userOddNumber.$dirty && exampleForm.userOddNumber.$invalid}">
          <label for="userOddNumber">Odd Number</label>
          <input class="form-control" type="number" id="userOddNumber" name="userOddNumber" ng-model="oddNumber" placeholder="Odd Number" min="1" required odd />
          <div class="help-block" ng-messages="exampleForm.userOddNumber.$error" ng-if="exampleForm.userOddNumber.$dirty">
            <div ng-message="odd">Odd numbers only!</div>            
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': exampleForm.userPrimeNumber.$dirty && exampleForm.userPrimeNumber.$invalid}">
          <label for="userPrimeNumber">Prime Number</label>
          <input class="form-control" type="number" id="userPrimeNumber" name="userPrimeNumber" ng-model="primeNumber" placeholder="Prime Number" min="1" required prime />
          <div ng-if="exampleForm.userPrimeNumber.$pending">
               Calculating....
          </div>
          <div class="help-block" ng-messages="exampleForm.userPrimeNumber.$error" ng-if="exampleForm.userPrimeNumber.$dirty">
            <div ng-message="prime">Prime numbers only!</div>            
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': exampleForm.userMessage.$dirty && exampleForm.userMessage.$invalid}">
          <label for="userMessage">User Message</label>
          <textarea class="form-control" type="text" id="userMessage" name="userMessage" ng-model="message" ng-minlength="100" ng-maxlength="1000" placeholder="User Message" required></textarea>
          <div class="help-block" ng-messages="exampleForm.userMessage.$error" ng-if="exampleForm.userMessage.$dirty">
            <div ng-message="required">This field is required</div>
            <div ng-message="minlength">Message must be over 100 characters</div>
            <div ng-message="maxlength">Message must not exceed 1000 characters</div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>