<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ngMessages demo</title>
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
        System.import('app/bootstrap').catch(console.error.bind(console));
    </script>
    <link rel="stylesheet" type="text/css" href="jspm_packages/github//twbs/bootstrap@3.3.5/css/bootstrap.min.css">
  </head>
  <body ng-app="app">
    <div class="container">
      <form name="exampleForm" class="myForm" required>

        <div class="form-group">
          <label for="userFirstName">First Name</label>
          <input class="form-control" type="text" id="userFirstName" name="userFirstName" ng-model="firstName" required placeholder="First Name"/>
          <div class="has-error help-block" ng-messages="exampleForm.userFirstName.$error" ng-if="exampleForm.userFirstName.$dirty">
            <div class="has-error help-block" ng-message="required">This field is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="userLastName">Last Name</label>
          <input class="form-control" type="text" id="userLastName" name="userLastName" ng-model="lastName" required placeholder="Last Name" />
          <div  class="has-error help-block" ng-messages="exampleForm.userLastName.$error" ng-if="exampleForm.userLastName.$dirty">
            <div class="has-error help-block"  ng-message="required">This field is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="userEmail">Email Address</label>
          <input class="form-control" type="email" id="userEmail" name="userEmail" ng-model="email" required placeholder="Email Address" />
          <div class="has-error help-block" ng-messages="exampleForm.userEmail.$error" ng-if="exampleForm.userEmail.$dirty">
            <div class="has-error help-block"  ng-message="required">This field is required</div>
            <div class="has-error help-block"  ng-message="email">Your email address is invalid</div>
          </div>
        </div>

        <div class="form-group">
          <label for="userPhoneNumber">Phone Number</label>
          <input class="form-control" type="email" id="userPhoneNumber" name="userPhoneNumber" ng-model="phoneNumber" placeholder="Phone Number" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required />
          <div class="has-error help-block" ng-messages="exampleForm.userPhoneNumber.$error" ng-if="exampleForm.userPhoneNumber.$dirty">
            <div class="has-error help-block"  ng-message="required">This field is required</div>
            <div class="has-error help-block"  ng-message="pattern">Must be a valid 10 digit phone number</div>
          </div>
        </div>

        <div class="form-group">
          <label for="userMessage">User Message</label>
          <textarea class="form-control" type="text" id="userMessage" name="userMessage" ng-model="message" ng-minlength="100" ng-maxlength="1000" placeholder="User Message" required></textarea>
          <div class="has-error help-block" ng-messages="exampleForm.userMessage.$error" ng-if="exampleForm.userMessage.$dirty">
            <div class="has-error help-block"  ng-message="required">This field is required</div>
            <div class="has-error help-block"  ng-message="minlength">Message must be over 100 characters</div>
            <div class="has-error help-block"  ng-message="maxlength">Message must not exceed 1000 characters</div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>